.dayMode .event,
.weekMode .event {
	-moz-user-select:none;
	overflow:hidden;
	position:absolute;
}

.weekMode .wk-weektop .event,
.dayMode .wk-weektop .event {
	position:relative;
}

#calendar .event span {
	font-size:9px;
	/*padding:2px 3px;*/
	display:block;
	/*white-space:nowrap;*/

}

#calendar .event dt.head {
	cursor:move;
}

#calendar .event.noAccess dt.head {
	cursor:not-allowed;
}

#calendar .event span.desc {
	overflow:hidden;
}

.event .headInner {
	position:relative;
	line-height:1.2;
	font-family:Arial,sans-serif;
	font-size:9px !important;
	font-weight:normal !important;
	padding-left:20px !important;
	padding-top:3px;
	padding-bottom:3px;
	overflow:hidden;
	white-space:nowrap;
}

.dayMode .event dd,
.weekMode .event dd {
	font-family:Verdana,Helvetica,sans-serif;
	font-size:9px;
	/*color:#fff;*/
	padding:2px;
}

.dayMode .event dt{
	/*white-space:normal;*/
}

.monthMode .event dt {
	/*display:none;*/
}

.monthMode .event dl {
	margin-bottom:2px;
}



/* ------------------------
	Event
   ------------------------ */
div.weekMode div#calendararea div.event dt.head {
	height:15px;
	padding:3px 0;
	/*margin-bottom:1px;*/
}
div.weekMode div#calendararea div.event dd span.desc {
	display:inline;
	white-space:normal;
}



.dayevent {
	margin:0 0 1px;
	height:16px;
	padding-top:1px;
	border:1px solid;
}

.dayevent .head {
	height:16px;
}


#topcontainerwk .dayevent {
	position:relative;
}



/* --------------------------------------------
	Events in all views (day, week, month)
   -------------------------------------------- */
.dayview div.tg-colwrapper div.event dl,
.weekMode div.tg-colwrapper div.event dl {
/*	border:1px dotted #fff;*/
}


.private {
	display:block;
	position:absolute;
	top:8px;
	left:11px;
	width:6px;
	height:7px;
	background:transparent url(../img/icons.png) no-repeat 0 -1140px;
}

.seriesEvent {
	background:transparent url(../img/icons.png) no-repeat scroll 0 -330px;
	padding:0 0 0 15px;
}

.seriesEventDark {
	background:transparent url(../img/icons.png) no-repeat scroll 0 -360px;
	padding:0 0 0 15px;
}

.weekNumber {
	float:left;
	color:#999;
}



/* ----------------------
	Event type icons
   ---------------------- */
.eventtypeicon {
	padding-right:16px;
}

.event.typeGeneral .headInner,
.event.typeGeneral .type,
.dayMode .event .typeGeneral,
.monthMode .event .typeGeneral {
	background:url(../img/icons.png) no-repeat scroll 0 -660px;
}

.event.typeAway .headInner,
.event.typeAway .type,
.dayMode .event .typeAway,
.monthMode .event .typeAway {
	background:url(../img/icons.png) no-repeat scroll 1px -690px;
}

.event.typeBirthday .headInner,
.event.typeBirthday .type,
.dayMode .event .typeBirthday,
.monthMode .event .typeBirthday {
	background:url(../../../contact/asset/img/icons.png) no-repeat 3px -330px;
}

.event.typeVacation .headInner,
.event.typeVacation .type,
.dayMode .event .typeVacation,
.monthMode .event .typeVacation {
	background:url(../img/icons.png) no-repeat scroll 0 -390px;
}

.event.typeEducation .headInner,
.event.typeEducation .type,
.dayMode .event .typeEducation,
.monthMode .event .typeEducation {
	background:url(../img/icons.png) no-repeat scroll 0 -720px;
}

.event.typeMeeting .headInner,
.event.typeMeeting .type,
.dayMode .event .typeMeeting,
.monthMode .event .typeMeeting {
	background:url(../img/icons.png) no-repeat scroll 0 -751px;
}

.event.typeAwayofficial .headInner,
.event.typeAwayofficial .type,
.dayMode .event .typeAwayofficial,
.monthMode .event .typeAwayofficial {
	background:url(../img/icons.png) no-repeat scroll 0 -782px;
}

.event.typeHomeoffice .headInner,
.event.typeHomeoffice .type,
.dayMode .event .typeHomeoffice,
.monthMode .event .typeHomeoffice {
	background:url(../img/icons.png) no-repeat scroll 1px -811px;
}

.event.typeCompensation .headInner,
.event.typeCompensation .type,
.dayMode .event .typeCompensation,
.monthMode .event .typeCompensation {
	background:url(../img/icons.png) no-repeat scroll 0 -900px;
}
.event.typeMilestone .headInner,
.event.typeMilestone .type,
.dayMode .event .typeMilestone,
.monthMode .event .typeMilestone {
	background:url(../img/icons.png) no-repeat scroll 3px -930px;
}

.event.typeReminder .headInner,
.event.typeReminder .type,
.dayMode .event .typeReminder,
.monthMode .event .typeReminder {
	background:url(../img/icons.png) no-repeat scroll 1px -961px;
}



#quickinfo dt.typeGeneralIcon {
	background:url(../img/icons.png) no-repeat scroll 3px -656px;	/*0 -664px;*/
}
#quickinfo dt.typeAwayIcon {
	background:url(../img/icons.png) no-repeat scroll 4px -688px;
}
#quickinfo dt.typeBirthdayIcon {
	background:url(../../../contact/asset/img/icons.png) no-repeat 4px -328px;
}
#quickinfo dt.typeVacationIcon {
	background:url(../img/icons.png) no-repeat scroll 3px -388px;
}
#quickinfo dt.typeEducationIcon {
	background:url(../img/icons.png) no-repeat scroll 3px -718px;
}
#quickinfo dt.typeMeetingIcon {
	background:url(../img/icons.png) no-repeat scroll 3px -748px;
}
#quickinfo dt.typeAwayofficialIcon {
	background:url(../img/icons.png) no-repeat scroll 3px -777px;
}
#quickinfo dt.typeHomeofficeIcon {
	background:url(../img/icons.png) no-repeat scroll 3px -807px;
}
#quickinfo dt.typeCompensationIcon {
	background:url(../img/icons.png) no-repeat scroll 3px -898px;
}
#quickinfo dt.typeMilestoneIcon {
	background:url(../img/icons.png) no-repeat scroll 3px -927px;
}
#quickinfo dt.typeReminderIcon {
	background:url(../img/icons.png) no-repeat scroll 3px -958px;
}



/* ------------------------
	Portal events list
   ------------------------ */
.portalEventsList #events .event h3	{
	border-left:0;
}

.portalEventsList #events div.eventDetails	{
	border-bottom:1px solid #ddd;
}

#birthdays div.event {
	/*background-color:#FFF !important;*/
	border-bottom:1px solid #ddd;
}
#birthdays div.event div {
	display:inline-block;
	padding:5px 0;
}
#birthdays div.event div.type {
	background-position:0 -325px;
	height:16px;
	width:30px;
	margin-left:10px;
}
#birthdays div.event div.date {
	width:80px;
}
#birthdays div.event div.name {
	width:180px;
}
#birthdays div.event div.age {
	width:100px;
}

#birthdays h3 {
	background:#fff url(../../../contact/asset/img/icons.png) no-repeat scroll 4px -325px;
	padding-left:35px;
}

#birthdays h3.even {
	background-color:#f3f3f3;
}

#birthdays h3 span.date {
	padding-right:10px;
}

/* @todo clean up:merge sections "portal events list" and "list mode in portal" */



/*-------------------------
	List mode in portal
  ------------------------- */
#holidays h3,
#events .event h3{
	background-color:#fff;
	border-bottom:1px solid #ddd;
}

#holidays h3 {
	white-space:normal;
}
#holidays h3.holidaysList {
	padding-left:10px;
}

#events .event .headLabel {
	padding:0 0 0 20px;
}

#events .event .headLabel .icon {
	padding:0 5px 0 0;
}

#holidays h3.odd,
#events .odd h3{
	background-color:#f3f3f3;
}

#events .details {
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;

}

#events .details .label{
	padding-left:10px;

}

#events .details .left {
	float:left;
	width:380px;
}

#events .details .right {
	float:right;
	width:280px;
}

#events .details .right dt  {
	float:left;
	width:100px;
}

#events .details .right dd  {
	float:left;
	width:180px;
}

#events .details .right dd span {
	padding-left:13px;
}

/*#events .headLabel span.acknowledge {*/
#events h3 span.icon.acknowledge {
	margin-right:10px;
}

/*#events .headLabel span.acknowledge.not {*/
#events h3 span.icon.acknowledge.not {
	background:transparent url('../../../../core/asset/img/icons.png') no-repeat 0 -1260px;
	cursor:pointer;
}

#events h3 span.icon.acknowledge.not.updated {
	background:transparent url('../../../../core/asset/img/icons.png') no-repeat 0 -1434px;
	cursor:pointer;
}

div.eventDetails dt {
	float:left;
	line-height:18px;
	text-align:left;
	clear:both;
}

div.eventDetails dd {
	float:right;
	line-height:18px;
	width:520px;
	text-align:left;
}

#events .event h3 .label {
	cursor:pointer;
}

#events .event h3 .label .date {
	width:225px;
	display:inline-block;
}

#events .event h3 .label .title {
	padding-left:20px;
}



/* -------------------------------------
	Holidays list
   ------------------------------------- */
#holidays .holidaysList span {
	display:block;
	float:left;
}

#holidays .holidayDate {
	width:227px;
	padding-left:48px;
}
	#holidays .holidayDate.hasIcon {
		background:url(../img/icons.png) no-repeat scroll 0 -390px;
	}

#holidays .holidayTitle {
	padding-left:20px;
	float:left;
	width:134px;
}
#holidays .holidayWorkinghours,
#holidays .holidayDescription {
	position:relative;
	width:148px;
}



/* -----------------------------------------
	Event attendee persons
   ------------------------------------------ */
	/* Person has acknowledged the event */
.eventperson-acknowledged {
	padding-left:20px;
	background:transparent url('../../../../core/asset/img/icons.png') no-repeat 0 -1314px;
}
	/* Person has not acknowledged the event */
.eventperson-unacknowledged {
	padding-left:20px;
	background:transparent url('../../../../core/asset/img/icons.png') no-repeat 0 -1288px;
}
	/* Person has acknowledged event AND received it via email */
.eventperson-acknowledged-email {
	padding-left:23px;
	background:transparent url('../../../../core/asset/img/icons.png') no-repeat 0 -1402px;
}
	/* Person has NOT acknowledged event AND received it via email */
.eventperson-unacknowledged-email {
	padding-left:23px;
	background:transparent url('../../../../core/asset/img/icons.png') no-repeat 0 -1368px;
}



/* ---------------------------
	Detail view
   --------------------------- */
table.eventDetailView {
	/*margin:12px 0 12px 0;*/
	width:100%;
	line-height:20px;
}

table.eventDetailView td {
	text-align:left;
	padding:7px 0 7px 0;

}
table.eventDetailView td a {
	text-decoration:underline;
}

table.eventDetailView td.label {
	font-weight:bold;
	width:120px;
	padding-left:2px;
}

table.eventDetailView span.reminderLabel {
	font-weight:bold;
}

table.eventDetailView tr.odd,
table.eventDetailView tr.even {
	border-bottom:1px solid #ddd;
}

button.editEvent .icon {
	background:url(../img/icons.png) no-repeat 0 -28px;
}



/* ----------------------
	Holidays
   ---------------------- */
.holidays {
	background:#9b9b9b url(../img/icons.png) no-repeat scroll 0 -390px;
	padding:0 0 0 15px;
	margin:0 0 2px 1px;
	color:#fff;
	overflow:hidden;
	min-height:17px;
}



/* ----------------------
	Birthdays
   ---------------------- */
.event.odd {
  background-color:#f3f3f3 !important;
}
div .typeBirthday div.type {
	margin-right:15px;
}
div .typeBirthday div.date {
	width:245px !important;
}
div .typeBirthday div.name {
	width:130px !important;
}