#panelwidget-eventtypeselector h1 .title {
	background:url('../img/icons.png') no-repeat 5px -1015px;
}

#panelwidget-eventtypeselector-list option {
	padding:3px 0 3px 20px;
}



/* --------------------------------------------
	Event type options
   -------------------------------------------- */
#panelwidget-eventtypeselector-list option {
	background:url(../img/icons.png) no-repeat scroll;
}

#panelwidget-eventtypeselector-list option.eventtype_general {
	background-position:1px -658px;
}

#panelwidget-eventtypeselector-list option.eventtype_away {
	background-position:1px -688px;
}

#panelwidget-eventtypeselector-list option.eventtype_awayofficial {
	background-position:1px -779px;
}

#panelwidget-eventtypeselector-list option.eventtype_birthday {
	background-position:1px -628px;
}

#panelwidget-eventtypeselector-list option.eventtype_vacation {
	background-position:1px -387px;
}

#panelwidget-eventtypeselector-list option.eventtype_education {
	background-position:1px -718px;
}

#panelwidget-eventtypeselector-list option.eventtype_meeting {
	background-position:1px -748px;
}

#panelwidget-eventtypeselector-list option.eventtype_homeoffice {
	background-position:1px -808px;
}

#panelwidget-eventtypeselector-list option.eventtype_compensation {
	background-position:1px -898px;
}

#panelwidget-eventtypeselector-list option.eventtype_milestone {
	background-position:1px -928px;
}

#panelwidget-eventtypeselector-list option.eventtype_reminder {
	background-position:0 -959px;
}