/* -----------------
	Calendar widget
   ----------------- */
#panelwidget-calendar {
	border:none;
	z-index:100;
}

#panelwidget-calendar h1 .title {
	background:url('../img/icons.png') no-repeat 5px 5px;
}

#scalupdate {
	display:none;
}

#panelwidget-event-content {
	padding:6px 0 6px 5px;
}

#panelwidget-calendar-content .calheader,
#panelwidget-calendar-content .calcontrol {
	font-weight:normal !important;
	text-transform:uppercase;
}


/* --------------------------
	jscalendar adaptions
   -------------------------- */
#panelwidget-calendar-jscalendar div.calendar {
	box-shadow:none;
}
#panelwidget-calendar-jscalendar div.calendar,
#panelwidget-calendar-jscalendar div.calendar table {
	background-image:none;
	background-color:#fff;
}

#panelwidget-calendar-jscalendar div.calendar tr.headrow td.button.hilite {
	cursor:pointer;
	/*background:#316ac5;*/
}
	#panelwidget-calendar-jscalendar td.hillite,
	#panelwidget-calendar-jscalendar div.calendar tr td.day.hilite,
	#panelwidget-calendar-jscalendar div.calendar tr td.button.hilite div {
		/*background:#316ac5;*/
		/*color:#fff;*/
		text-shadow:none;
		cursor:pointer;
	}

#panelwidget-calendar-jscalendar .calendar .day {
	border-bottom:1px solid #ddd;
	border-right:1px solid #ddd;
	text-align:center;
	padding:4px 7px;
	cursor:pointer;
}

#panelwidget-calendar-jscalendar .calendar thead .day.name {
	padding:2px;
	cursor:default;
}

#panelwidget-calendar-jscalendar .calendar .wn {
	cursor:default;
}

#panelwidget-calendar-jscalendar div.calendar tfoot {
	display:none;
}