#panelwidget-profilemodules li.calendar a {
	background:url(../img/exticon.png) no-repeat 1px 1px;
}



/* --------------
	Tab icons
   -------------- */
#calendar-tabs .tabkey-main .icon {
	background:url("../img/icons.png") no-repeat scroll 0 6px transparent;
}

#calendar-tabs .tabkey-reminders .icon {
	background:url("../img/icons.png") no-repeat scroll 0 -956px transparent;
}

#calendar-tabs .tabkey-share .icon {
	background:url("../img/icons.png") no-repeat scroll 0 -1256px transparent;
	margin-right:4px;
}



/* --------------------
	Sharing Tokens Tab
   -------------------- */
.iCalBaseURL {
	margin-left:16px;
}
.iCalBaseURL,
form.formShare span.tokentext {
	padding:4px 8px;
	font-family:courier;
	background-color:#eee;
	color:#222;
}