/* ---------------
	Header
   --------------- */
.gridHeader {
	position:relative;
	z-index:110;
}

.gridHeader .wk-weektop {
	width:100%;
	background-color:#d7dcc6;
	overflow:hidden;
	font-size:11px;
	line-height:14px;
}

.weekMode .dayCol.dayName {
	font-weight:normal;
	white-space:nowrap;
	padding:2px 4px;
	width:78px;
	cursor:pointer;
	text-align:center;
}
.weekMode.fiveDays .dayCol.dayName {
	width:112px;
}

.weekMode .dayCol.dayName.odd {
	background-color:#edf3d9;
}


.weekMode .dayCol.dayName.today {
	background-color:#ffffdb;
	border-color:#9f9f9f #ebebeb #ebebeb #9f9f9f;
	border-style:solid;
	border-width:1px;
	font-weight:bold;
	padding:1px 3px;
}




/* ---------------
	Day events
   --------------- */



/* ------------------
	Week view
   ------------------ */

.weekMode .dayCol {
	width:86px;
	/*border:none;*/
}
.weekMode.fiveDays .dayCol {
	width:123px;
}


/*div.weekMode table.standardGrid td {*/
	/*width:86px;*/
	/*border:none;*/
/*}*/
	/*div.weekMode.fiveDays table.standardGrid td {*/
		/*width:123px;*/
	/*}*/



.wk-webcontent-td {
	font-size:0;
	padding-left:2px;
	height:5px;
}

.standardGrid {
	position:relative;
	table-layout:fixed;
	width:100%;
}

.st-c {
	padding:1px 1px 0 2px;
	vertical-align:top;
	font-family:Verdana,sans-serif
}

.st-s {
	padding-bottom:2px;
	cursor:default
}

.wk-scrolltimedevents {
	position:relative;
	overflow-y:scroll;
	overflow-x:hidden;
	border-top:1px solid #999;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	border-bottom:1px solid #fff;
	padding:0;
	font-size:11px;
	line-height:normal;
}

.tg-timedevents {
	background-color:#fff;
	table-layout:fixed;
	width:100%;
	margin-top:-1px;
	height:1008px;
}

.tg-hourmarkerwrapper {
	position:relative;
	height:1px;
	top:1px
}

.tg-hourmarkers {
	position:absolute;
	width:100%;
}

.tg-dualmarker {
	border-top:1px solid #ddd;
	height:20px;
	line-height:20px;
	border-bottom:1px dotted #ddd;
	margin-bottom:20px
}

.dayCol {
	border-left:3px double #ddd;
	overflow:hidden;
	/*vertical-align:top;*/
}

.today7,
.today5 {
	border-left:3px double #ddd;
	overflow:hidden;
	vertical-align:top;
	position:relative;
}
	.today5 {
		background:url(../img/background-week5-today.png) repeat-y left 1px;
	}
	.today7 {
		background:url(../img/background-week7-today.png) repeat-y left 1px;
	}

.tg-colwrapper {
	margin-right:12px;
	position:relative;
	opacity:1.6;
	filter:alpha(opacity=100);
	width:100%;
	height:1008px;
	margin-bottom:-1008px;
	cursor:pointer;
}

.weekMode .dayevent {
	margin-top:1px;
	padding:1px 2px 2px;
	white-space:nowrap;
	overflow:hidden;
	margin-left:2px;
}

td.weekModeHourHotspotCell {
	width:83px;
	height:17px;
}

td.noEventCell {
	background:url(../img/background-noevent.png) repeat-x;
}
