{include file="parts-event-start-html.tmpl"}

<table width="600" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
			<img src="config/img/logo.png" alt="" width="159" height="52" border="0" />
			<br /><br /><br />
		</td>
	</tr>
	<tr>
		<td style="color:#000; font-size:11px; font-family:Arial;">
			{Label calendar.event.mail.title.create}: {htmlencode $event.title}
			<br /><br />
		</td>
	</tr>
	{include file="parts-event-details-html.tmpl"}
	<tr>
		<td>
			<br /><br />
			{Label calendar.event.mail.showeventincalendarview}:<br />
			<a href="{$eventlink}">{$eventlink}</a>
		</td>
	</tr>
</table>

</body>
</html>