{include file="parts-event-start-html.tmpl"}

<table width="600" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="padding-left: 10px;" >
			<img src="config/img/logo.png" alt="" border="0" />
			<br /><br /><br />
		</td>
	</tr>
	<tr>
		<td class="label maintitle" style="padding-left: 10px;">
			{Label calendar.event.mail.title.deleted}
			<br /><br />
		</td>
	</tr>
	<tr>
		<td class="label" style="padding-left: 10px;">
			{Label calendar.event.mail.event.deleted.previousdata}
			<br /><br />
		</td>
	</tr>
	{include file="parts-event-details-html.tmpl"}
</table>

</body>
</html>