<div id="event-{$id}" class="event contextmenuevent quickInfoEvent dayevent enumColBGFade{$color.id} enumColBor{$color.id} {$class} {if $updateAllowed} updateAllowed{/if}">
	<span class="type{ucfirst $eventtypeKey} eventtype_{$eventtype}">
		&nbsp;&nbsp;&nbsp;&nbsp;
	</span>

		{if $is_private}
			{if isPersonID($id_person)}
				<span class="private"></span>
			{else}
				<span class="privateEvent"></span>
			{/if}
		{/if}

		{foreach $assignedPersons person}
			{$person.shortname}
			{if !$dwoo.foreach.default.last},{/if}
		{/foreach}:

		{if !$is_private || isPersonID($id_person)}
			{htmlencode $title|truncate:50}
		{/if}

		(
			{dateFormat $date_start date}
			{if date('ymd', $date_start) !== date('ymd', $date_end)}
				- {dateFormat $date_end date}
			{/if}
		)
</div>