<div id="birthday-{$id}" class="event typeBirthday quickInfoBirthday noAccess">
	<dl><dt class="head"><span class="headInner">
		{if $calendarMode == 'day'}
			{htmlencode $fullname}
		{else}
			{htmlencode(truncate($fullname length=$titleCropLength-2 break=true))}
		{/if}
	</span></dt></dl>
</div>