<div class="mainGrid month" id="calendarBody">
	<div id="gridcontainer" class="monthMode">

		{* --------------------------- Days names (Sun-Sat / Mon-Sun) ------------------------- *}
		<table class="mv-daynames-table">
			<tbody>
				<tr>{for daynum 0 6}
					<th class="mv-dayname {cycle values="odd,even"}" title="{weekdayName $timestamps[$daynum]}">
						{weekdayNameShort $timestamps[$daynum]}
					</th>{/for}
				</tr>
			</tbody>
		</table>

		<div id="mvEventContainer" class="mv-event-container contextmenucalendarbody">
		{for week 0 $visibleWeeks-1}
			{$dayFrom = $week*7}
			{$dayUntil= $dayFrom+6}

			<div class="month-row">
				<table class="standardGrid"><tbody>
					<tr>

					{* -------------------- Day headers (+ event creation hotspots) ---------------------- *}
					{for dayCounter $dayFrom $dayUntil}
						{$dayDateKey=date('Ymd', $timestamps[$dayCounter])}
						{if date('nY', $timestamps[$dayCounter]) == $selMonthYear}
							{$inSelMonth=true}
						{else}
							{$inSelMonth=false}
						{/if}

						{* ---- Compile day class --- *}
						{$class = 'title'}
						{if $timestamps[$dayCounter]==$timestamp_today}
							{$class .= ' ttoday'}
						{/if}
						{if $inSelMonth}
							{$class .= ' inSelMonthTitle'}
						{/if}

						<td id="createEventAt-{date 'Y-m-d' $timestamps[$dayCounter]}" title="{dateFormat $timestamps[$dayCounter] DlongD2MlongY4}{if $timestamps[$dayCounter] == $timestamp_today} ({Label calendar.ext.today}){/if}" class="{$class}">
							{* ------ Week number (only for mondays) ----- *}
							{if $dayCounter == $dayFrom}
								<span class="weekNumber" title="{dateFormat $timestamps[$dayCounter] calendarweek}" onclick="Todoyu.Ext.calendar.showWeek('{date 'Y-m-d' $timestamps[$dayCounter]}')">
									{dateFormat $timestamps[$dayCounter] calendarweek}
								</span>
							{/if}
							{* ------ Holiday Icon ----- *}
							{if sizeof($holidays[$dayDateKey])>0}
								<span id="holiday-{$timestamps[$dayCounter]}" class="holiday quickInfoHoliday"></span>
							{/if}
							{* ------- Numeric date, full date if 1st day of month ------- *}
							<span class="month-date" onclick="Todoyu.Ext.calendar.showDay('{date 'Y-m-d' $timestamps[$dayCounter]}')">
							{if date('j', $timestamps[$dayCounter]) == 1}
								{dateFormat $timestamps[$dayCounter] D2Mshort}
							{else}
								{date('j', $timestamps[$dayCounter])}
							{/if}
							</span>
						</td>
					{/for}

					</tr>
					<tr>
					{* --------------------------- Birthdays, All-day events, Events ------------------------- *}
					{for dayCounter $dayFrom $dayUntil}
						<td id="createEventAt-{date 'Y-m-d' $timestamps[$dayCounter]}" class="content {if $timestamps[$dayCounter] == $timestamp_today}ctoday{/if}{if $dwoo.for.curDayCounter.first} first{/if}{if date('ny', $timestamps[$dayCounter])==date('ny', $timestamp_today)} inSelMonth{/if}">
							{$dayDateKey=date('Ymd', $timestamps[$dayCounter])}
							{if $birthdays[$dayDateKey]}
								{foreach $birthdays[$dayDateKey] birthday}
									{$birthday}
								{/foreach}
							{/if}
							{foreach $dayEvents[$dayDateKey] dayEvent}
								{$dayEvent}
							{/foreach}
							{foreach $events[$dayDateKey] event}
								{$event}
							{/foreach}
						</td>
					{/for}
					</tr>
				</tbody></table>
			</div>
		{/for}
		</div>
	</div>
</div>

<script language="javascript">
	Todoyu.Ext.calendar.setTitle('{$title}');
</script>