<button type="button" class="button" onclick="Todoyu.Ext.calendar.PanelWidget.QuickEvent.loadEventForm()">
	<span class="hasIcon buttonAddEvent">{Label panelwidget-quickevent.addNewEvent}</span>
	<span class="rgt"><!-- right --></span>
</button>

{Button label="panelwidget-quickevent.addNewEvent" class="buttonAddEvent"}