<div style="background-color:#F3F3F3; width:208px; height: 18px; padding: 3px 0 2px 12px;">{Label core.global.components}:</div>
<ul class="calendarAdmin">
{foreach $components key component}
	<li class="{if $component.act == 1}active{/if} {cycle values="odd,even"} {$component.class}">
		<a href="{$component.href}"><span class="icon"></span>{if $component.act == 1}&gt; {/if}{$component.label}</a>
	</li>
{/foreach}
</ul>