/* ----------------------
	Scrolling or not
   ---------------------- */

#calendararea {
	border-right:1px dotted #818181;
	overflow:hidden;
	height:461px;
}

	#calendararea.month {
		height:670px !important;
	}

	#calendararea.sixWeeks {
		height:790px !important;
	}

	#calendararea.full {
		overflow:visible;
		height:auto;
	}

#toggleDayView {
	height:20px;
	width:40px;
	cursor:pointer;
	background:url(../img/icons.png) no-repeat 2px -58px;
}

	#toggleDayView.full {
		background-position:2px -88px;
	}


#tgnowptr {
	background-image:url(../img/background-hours.png);
	background-repeat:repeat-y;
	background-color:#f2f3ed;
}



/* ----------------------
	Area tabs
   ---------------------- */
/*
#calendar-tabs li span.icon {
	margin-right:2px;
}
*/
#calendar-tabs span.icon {
	background-image:url(../img/icons.png);
}
#calendar-tab-day span.icon {
	background-position:2px -204px;
}
#calendar-tab-week span.icon {
	background-position:2px -234px;
}
#calendar-tab-month span.icon {
	background-position:2px -264px;
}

#calendar-tab-edit,
#calendar-tab-view {
	float:right !important;
}
#calendar-tab-edit span.icon {
	background-position:2px -24px;
}
#calendar-tab-view span.icon {
	background-position:2px 6px;
}


/* ----------------------
	Calendar
   ---------------------- */

#calendar {
	background-color:#fff;
}

	#calendar h1 {
		padding-left:10px !important;
	}

	#calendar #createevent {
		margin-top:10px;
		margin-left:10px;
	}


	#calendar #createevent .formelement {
		margin-bottom:4px;
		clear:both;
	}

	#calendar #createevent .formelement input,
	#calendar #createevent .formelement textarea,
	#calendar #createevent .formelement select {
		border:1px solid #d3dabb;
	}

	#calendar #createevent .formelement select.large {
		width:355px;
	}

	#calendar #createevent .formelement .small {
		width:80px;
	}

	#calendar #createevent .formelement .large {
		width:352px;
	}

#calendar-title {
	position:absolute;
	line-height:23px;
	margin:0;
	padding:0 0 0 10px;
	text-transform:uppercase;
}

#calendar-quicknav {
	position:absolute;
	top:3px;
	right:15px;
	float:right;
	margin:0;
	padding:0;
}

#calendar-body {
	float:left;
	clear:both;
	width:100%;
	background-color:#fff;
	padding-bottom:10px;
}





/* ------------------------
	Create or update event
   ------------------------ */
li.editeventtab p.label span.icon {
	background:transparent url(../img/icons.png) no-repeat scroll -1px -30px;
	margin-right:2px;
}

#createevent .label {
	float:left;
	font-weight:bold;
	width:125px;
}

#createevent .saveButton {
	background-color:green;
	color:white;
}

#createevent #repeatsChoices {
	margin-left:130px;
	margin-top:5px;
	margin-bottom:5px;
	padding:4px;
	background-color:#f2f3ed;
}

#createevent #repeatsChoices_when {
	margin-top:10px;
	font-weight:bold;
}

#createevent #repeatsChoices_area {
	margin-top:10px;
	font-weight:bold;
}