/* ---------------------------
	Event contextmenu
   ---------------------------  */
a.eventContextMenu {
	background:url(../img/contextmenu.png) no-repeat;
}
  
a.eventContextMenu.eventEdit {
	background-position:5px 4px;
}

a.eventContextMenu.eventShow {
	background-position:5px -26px;
}

a.eventContextMenu.eventRemove {
	background-position:5px -57px;
}

a.eventContextMenu.eventAdd,
a.eventContextMenu.showInCalendarDay,
a.eventContextMenu.showInCalendarWeek,
a.eventContextMenu.showInCalendarMonth {
	background:url(../img/icons.png) no-repeat;
}

a.eventContextMenu.eventAdd {
	background-position:5px -298px;
}

a.eventContextMenu.showInCalendarDay {
	background-position:6px -205px;
}

a.eventContextMenu.showInCalendarWeek {
	background-position:6px -235px;
}

a.eventContextMenu.showInCalendarMonth {
	background-position:6px -265px;
}