/* ---------------------------
	Event contextmenu
   ---------------------------  */
a.eventContextMenu {
	background-image:url(../img/contextmenu.png);
	background-repeat:no-repeat;	
}
  
a.eventContextMenu.eventEdit {
	background-position:5px 2px;
}

a.eventContextMenu.eventShow {
	background-position:5px -28px;
}

a.eventContextMenu.eventRemove {
	background-position:5px -58px;
}

a.eventContextMenu.eventAdd {
	background:url(../img/icons.png) 5px -298px;
}

a.eventContextMenu.showInCalendarDay {
	background:transparent url('../img/icons.png') no-repeat 6px -205px;
}

a.eventContextMenu.showInCalendarWeek {
	background:transparent url('../img/icons.png') no-repeat 6px -235px;
}

a.eventContextMenu.showInCalendarMonth {
	background:transparent url('../img/icons.png') no-repeat 6px -265px;
}