.dayMode .event,
.weekMode .event {
	-moz-user-select:none;
	overflow:hidden;
	position:absolute;
}

.weekMode .wk-weektop .event,
.dayMode .wk-weektop .event {
	position:relative;
}

#calendar .event span {
	font-size:9px;
	padding:2px 3px;
	display:block;
	white-space:nowrap;
}

#calendar .event span.desc {
	overflow:hidden;
}

.event .headInner {
	position:relative;
	line-height:1.2;
	font-family:Arial,sans-serif;
	font-size:9px !important;
	font-weight:normal !important;
	padding-left:20px !important;
	padding-top:3px;
	padding-bottom:3px;
	overflow:hidden;
	white-space:nowrap;
}

.dayMode .event dd,
.weekMode .event dd {
	font-family:Verdana,Helvetica,sans-serif;
	font-size:9px;
	color:#fff;
	padding:2px 3px;
}

.dayevent {
	margin:0;
	margin-bottom:1px;
	height:16px;
	padding-top:1px;
	border:1px solid;
}

.dayevent .head {
	height:16px;
}


#topcontainerwk .dayevent {
	position:relative;
}



/* --------------------------------------------
	Events in all views (day, week, month)
   -------------------------------------------- */

.dayview div.tg-colwrapper div.event dl,
.weekMode div.tg-colwrapper div.event dl {
	border:1px dotted #fff;
}


.private {
	display:block;
	position:absolute;
	top:8px;
	left:11px;
	width:6px;
	height:7px;
	background:transparent url(../img/icons.png) no-repeat 0 -1140px;
}

.seriesEvent {
	background:transparent url(../img/icons.png) no-repeat scroll 0 -330px;
	padding:0 0 0 15px;
}

.seriesEventDark {
	background:transparent url(../img/icons.png) no-repeat scroll 0 -360px;
	padding:0 0 0 15px;
}

.weekNumber {
	float:left;
	color:#999;
}



/* ----------------------
	Event types
   ---------------------- */
.eventtypeicon {
	padding-right:16px;
}

.event.typeGeneral .headInner,
.event.typeGeneral .type,
.dayMode .event .typeGeneral,
.monthMode .event .typeGeneral {
	background:url(../img/icons.png) no-repeat scroll 2px -660px;
}

.event.typeAway .headInner,
.event.typeAway .type,
.dayMode .event .typeAway,
.monthMode .event .typeAway {
	background:url(../img/icons.png) no-repeat scroll 3px -690px;
}

.event.typeBirthday .headInner,
.event.typeBirthday .type,
.dayMode .event .typeBirthday,
.monthMode .event .typeBirthday {
	background:url(../../../contact/assets/img/icons.png) no-repeat 3px -330px;
}

.event.typeVacation .headInner,
.event.typeVacation .type,
.dayMode .event .typeVacation,
.monthMode .event .typeVacation {
	background:url(../img/icons.png) no-repeat scroll 3px -389px;
}

.event.typeEducation .headInner,
.event.typeEducation .type,
.dayMode .event .typeEducation,
.monthMode .event .typeEducation {
	background:url(../img/icons.png) no-repeat scroll 3px -720px;
}

.event.typeMeeting .headInner,
.event.typeMeeting .type,
.dayMode .event .typeMeeting,
.monthMode .event .typeMeeting {
	background:url(../img/icons.png) no-repeat scroll 3px -750px;
}

.event.typeAwayofficial .headInner,
.event.typeAwayofficial .type,
.dayMode .event .typeAwayofficial,
.monthMode .event .typeAwayofficial {
	background:url(../img/icons.png) no-repeat scroll 1px -782px;
}

.event.typeHomeoffice .headInner,
.event.typeHomeoffice .type,
.dayMode .event .typeHomeoffice,
.monthMode .event .typeHomeoffice {
	background:url(../img/icons.png) no-repeat scroll 3px -810px;
}

.event.typeCompensation .headInner,
.event.typeCompensation .type,
.dayMode .event .typeCompensation,
.monthMode .event .typeCompensation {
	background:url(../img/icons.png) no-repeat scroll 3px -900px;
}
.event.typeMilestone .headInner,
.event.typeMilestone .type,
.dayMode .event .typeMilestone,
.monthMode .event .typeMilestone {
	background:url(../img/icons.png) no-repeat scroll 3px -930px;
}

.event.typeReminder .headInner,
.event.typeReminder .type,
.dayMode .event .typeReminder,
.monthMode .event .typeReminder {
	background:url(../img/icons.png) no-repeat scroll 3px -960px;
}



/* ------------------------
	Portal events list
   ------------------------ */
.portalEventsList #events .event h3	{
	border-left:0;
}

.portalEventsList #events div.eventDetails	{
	border-bottom:1px dotted #848484;
}

#birthdays div.event {
	background-color:#FFF !important;
	border-bottom:1px dotted #848484;
}
#birthdays div.event div {
	display:inline-block;
	padding:5px 0;
}
#birthdays div.event div.type {
	background-position:0 -325px;
	height:16px;
	width:30px;
	margin-left:20px;
}
#birthdays div.event div.date {
	width:50px;
}
#birthdays div.event div.name {
	width:150px;
}
#birthdays div.event div.age {
	width:100px;
}

#birthdays h3 {
	background-color:#fff;
	background:url(../../../contact/assets/img/icons.png) no-repeat scroll 4px -325px;
	padding-left:35px;
}

#birthdays h3.even {
	background-color:#f3f3f3;
}

#birthdays h3 span.date {
	padding-right:10px;
}

/* @todo clean up:merge sections "portal events list" and "list mode in portal" */



/*-------------------------
	List mode in portal
  ------------------------- */

#holidays h3,
#events .event h3{
	background-color:#fff;
	border-bottom:1px dotted #848484;
	border-left:5px solid #bbb;
}

#holidays h3 {
	/*padding-left:35px;*/
}

#events .event .headLabel {
	padding:0 0 0 20px;
}

#events .event .headLabel .icon{
	padding:0 5px 0 0;
}

#holidays h3.odd,
#events .odd h3{
	background-color:#f3f3f3;
}

#holidays span.icon {
	margin-right:10px;
	background:url(../img/icons.png) no-repeat 0 -389px;
}

#holidays .holidayTitle {
	padding-left:15px;
}

#holidays .holidayWorkinghours {
	position:absolute;
	right:10px;
}



#events .details {
	border:1px solid #000;
	border-width:0 0 0 1px;
	padding:10px 5px 10px 15px;
}

#events .details .left {
	float:left;
	width:380px;
}

#events .details .right {
	float:right;
	width:280px;
}

#events .details .right dt  {
	float:left;
	width:100px;
}

#events .details .right dd  {
	float:left;
	width:180px;

}

#events .details .right dd span {
	padding-left:13px;
}

#events .headLabel span.acknowledge {
	margin-right:10px;
}

#events .headLabel span.acknowledge.not {
	background:url(../../../project/assets/img/icons.png) no-repeat 2px -240px;
	cursor:pointer;
}

div.eventDetails dt {
	float:left;
	line-height:18px;
	text-align:left;
	clear:both;
}

div.eventDetails dd {
	float:right;
	line-height:18px;
	width:520px;
	text-align:left;
}

#events .event h3 .label {
	cursor:pointer;
}

#events .event h3 .label .title {
	padding-left:20px;
}

#events .event h3 .isNotAcknowledgedIcon {

}



/* ---------------------------
	Detail view
   --------------------------- */

table.eventView {
	margin:12px 0 12px 0;
	width:100%;
	line-height:20px;
}

button.editEvent .icon {
	background:url(../img/icons.png) no-repeat 0 -28px;
}



/* ----------------------
	Holidays
   ---------------------- */

.holidays {
	background:transparent url(../img/icons.png) no-repeat scroll 0 -390px;
	padding:0 0 0 15px;
	margin:0 0 2px 1px;
	color:#fff;
	background-color:#9b9b9b;
	overflow:hidden;
	min-height:17px;
}

/* ----------------------
	Overbooking info
   ---------------------- */
ul.overbookedPersons {
	font-style:normal;
	border-left:5px solid #F00;
	padding-left:5px;
}
ul.overbookedPersons li {
	font-weight:bold;
}
ul.overbookedPersons li ul {
	list-style-type:square;
}
ul.overbookedPersons li ul li {
	font-weight:normal;
	margin-left:20px;
}



/* ----------------------
	Birthdays
   ---------------------- */
/*
.event.typeBirthday {
	background:url(../../../contact/assets/img/icons.png) no-repeat scroll 1px -330px;
	padding:0 0 0 18px;
	margin:0 0 2px 1px;
	color:#000;
	background-color:#d7dcc6;
	overflow:hidden;
	min-height:17px;
}
*/