.dayMode .event,
.weekMode .event {
	-moz-user-select:none;
	color:#fff;
	overflow:hidden;
	position:absolute;
}

.dayMode .event dt,
.weekMode .event dt {
	padding:1px;
	white-space:nowrap;
}

.dayMode .event dt span.time,
.weekMode .event dt span.time {
	padding:2px;
	font-family:Verdana,Helvetica,sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:normal;
	text-align:left;
	white-space:nowrap;
}

.dayMode .event dd,
.weekMode .event dd {
	font-family:Verdana,Helvetica,sans-serif;
	font-size:9px;
	white-space:nowrap;
	color:#fff;
	padding:2px;
}

.dayevent {
	margin:0px;
	margin-bottom:1px;
	height:14px;
	padding-top:1px;

}

#topcontainerwk .dayevent {
	position:relative;
}



/* --------------------------------------------
	Events in all views (day, week, month)
   -------------------------------------------- */

.updateAllowed {
	cursor:pointer;
}

.ca-elp {
	color:#fff;
	display:inline;
	white-space:normal;
}

.privateEvent {
	background:transparent url(../img/icons.png) no-repeat scroll 0 -405px;
	padding:0 0 0 15px;
}

.seriesEvent {
	background:transparent url(../img/icons.png) no-repeat scroll 0 -330px;
	padding:0 0 0 15px;
}

.seriesEventDark {
	background:transparent url(../img/icons.png) no-repeat scroll 0 -360px;
	padding:0 0 0 15px;
}

.weekNumber {
	float:left;
	color:#999;
}



/* ---------------------------
	Detail view
   --------------------------- */

table.eventView {
	margin:12px 0 12px 0;
	width:100%;
	line-height:20px;	
}
