/* ------------------------------------------------------------
	holidays admin module
   ------------------------------------------------------------ */


#admin-tabs li.tabkey-holidays span.icon {
	background: url('../img/icons.png') no-repeat 0 -404px;
}

table.holidayList {
	width: 100%;
}

table.holidayList tr {
	height: 16px;
}

table.holidayList tr td, table.holidayList th {
	padding: 2px 0 4px 12px;
}

.birthdaysList.even {
	background-color: #fff;
}

table.holidayList tr.odd, .birthdaysList {
	background-color: #f3f3f3;
}

ul.holidayList li div.date {
	width: 50px;
	margin: 0 18px 0 0;
}

ul.holidayList li div.title {
	width: 150px;
	margin: 0 18px 0 0;
}

form.createevent label, form.createeventMidcol label{
	display: block;
	float: left;
	width: 150px;
}


/*-------------------------------------
	list mode in portal
--------------------------------------*/

#holidays h3,
#events .event h3{
	background-color: #fff;
	border-bottom: 1px dotted #848484;
	border-left: 5px solid #bbb;
}

#holidays h3 {
	padding-left: 35px;
}

#events .event .headLabel {
	padding: 0 0 0 20px;
}

#events .event .headLabel .icon{
	padding: 0 5px 0 0;
}

#holidays h3.odd,
#events .odd h3{
	background-color: #f3f3f3;
}

#events .details {
	border: 1px solid #000;
	border-width: 0 0 0 1px;
	padding: 10px 5px 10px 15px;
}

#events .details .left {
	float: left;
	width: 380px;
}

#events .details .right {
	float: right;
	width: 280px;
}

#events .details .right dt  {
	float: left;
	width: 100px;
}

#events .details .right dd  {
	float: left;
	width: 180px;

}

#events .details .right dd span {
	padding-left: 13px;
}

#events .isNotAcknowledgedIcon, span.isNotAcknowledgedIcon {
	background: transparent url(../img/icons.png) no-repeat 0 -1179px;
}

span.isNotAcknowledgedIcon {
	padding: 0 0 0 16px;
}

#events .headLabel .isNotAcknowledgedIcon{
	float: left;
	height: 12px;
	width: 10px;
	margin-right: 10px;
}

#holidays .holidayTitle {
	padding-left: 15px;
}

#holidays .holidayWorkinghours {
	position: absolute;
	right: 10px;
}

/* form */

form.formEvent button.buttonSave {}

/* ------------------------------------------------------------
	events types
   ------------------------------------------------------------ */

.eventtype_1 {
   background: transparent url(../img/icons.png) no-repeat scroll 0 -721px;
}

.eventtype_2 {
   background: transparent url(../img/icons.png) no-repeat scroll 0 -665px;
}

.eventtype_3 {
   background: transparent url(../img/icons.png) no-repeat scroll 0 -466px;
}

.eventtype_4 {
   background: transparent url(../img/icons.png) no-repeat scroll 0 -641px;
}

.eventtype_5 {
   background: transparent url(../img/icons.png) no-repeat scroll 0 -751px;
}

.eventtype_6 {
   background: transparent url(../img/icons.png) no-repeat scroll 0 -692px;
}

.eventtype_7 {
   background: transparent url(../img/icons.png) no-repeat scroll 0 -944px;
}

.eventtype_8 {
   background: transparent url(../img/icons.png) no-repeat scroll 0 -970px;
}

.eventtype_9 {
   background: transparent url(../img/icons.png) no-repeat scroll 0 -998px;
}

.eventtype_10 {
   background: transparent url(../img/icons.png) no-repeat scroll 0 -1031px;
}

.eventtype_11 {
   background: transparent url(../img/icons.png) no-repeat scroll 0 -1061px;
}

.eventtype_12 {
   background: transparent url(../img/icons.png) no-repeat scroll 0 -1091px;
}

.eventtype_13 {
   background: transparent url(../img/icons.png) no-repeat scroll 0 -1122px;
}

/* --------------------------------------------------
	portal events list
   -------------------------------------------------- */
#birthdays h3 {
	background-color: #fff;
	background: transparent url(../img/icons.png) no-repeat scroll 4px -1428px;
	border-bottom: 1px dotted #848484;
	border-left: 5px solid #bbb;
	padding-left: 35px;
}

#birthdays h3.even {
	background-color: #f3f3f3;
}

h1.birthdaysforecast span.title {
	background: transparent url(../img/icons.png) no-repeat scroll 0 -462px;
	padding-left: 20px;
}
h1.holidaysforecast span.title {
	background: transparent url(../img/icons.png) no-repeat scroll 0 -1311px;
	padding-left: 20px;
}

/* --------------------------------------------------
	events without/ with multiple user assignments inside calendar
   -------------------------------------------------- */
.enumColBGFademultiOrNone,
.enumColBGmultiOrNone {
	color: #191919;
	background-color: #f2f3ed;
}



/* --------------------------------------------------
	date navigational buttons (center on today, go forward / backward)
   -------------------------------------------------- */

#date-navi {
}

	#date-navi .goback {
		min-width: 28px;
		width: 28px;
		cursor: pointer;
		background: transparent url(../img/icons.png) no-repeat scroll 0 -785px;
	}

	#date-navi .goforward {
		min-width: 28px;
		width: 28px;
		cursor: pointer;
		background: transparent url(../img/icons.png) no-repeat scroll 0 -839px;
	}

	#date-navi .buttonToday {
		float:left;
		margin-right:8px;
		margin-top:-1px;
	}

	#date-navi .buttonToday span.rgt {
		background-color:#e7e7e7;
	}

	button.buttonToday span.today {
		cursor: pointer;
		background: transparent url(../img/icons.png) no-repeat scroll 5px -814px;
	}