span.holiday {
	display:inline-block;
	width:13px;
	height:13px;
	margin-bottom:-2px;
	background:url(../img/icons.png) no-repeat -1px -390px;
	cursor:pointer;
}

.dayMode span.holiday {
	background-color:#D7DCC6;
	height:16px;
	margin:0 0 2px 1px;
	padding-left:16px;
	padding-top:1px;
	width:598px;
}



/* -------------------------
	Holidays admin module
   ------------------------- */

#admin-tabs li.tabkey-holidays span.icon {
	background:url(../img/icons.png) no-repeat 0 -404px;
}

table.holidayList {
	width:100%;
}

table.holidayList tr {
	height:16px;
}

table.holidayList tr td, table.holidayList th {
	padding:2px 0 4px 12px;
}

.birthdaysList.even {
	background-color:#fff;
}

table.holidayList tr.odd, .birthdaysList {
	background-color:#f3f3f3;
}

ul.holidayList li div.date {
	width:50px;
	margin:0 18px 0 0;
}

ul.holidayList li div.title {
	width:150px;
	margin:0 18px 0 0;
}

form.createevent label, form.createeventMidcol label{
	display:block;
	float:left;
	width:150px;
}



	/* form */
form.formEvent button.buttonSave {}



/* ------------------------------------------------------------------
	Events with / without multiple person assignments inside calendar
   ------------------------------------------------------------------ */
.enumColBGFademultiOrNone,
.enumColBGmultiOrNone,
.enumColBgFgmultiOrNone {
	color:#191919 !important;
	background-color: #f2f3ed !important;
	border-color: #d7d7cf !important;
}



/* --------------------------------------------------------------------
	Date navigational buttons (center on today, go forward / backward)
   -------------------------------------------------------------------- */
#calendar-header {

}
#calendar-quicknav div.icon {
	height:24px;
}

	#calendar-quicknav span.rgt {
		display: none;
	}

	#calendar-quicknav .goback,
	#calendar-quicknav .goforward {
		min-width:28px;
		width:28px;
		cursor:pointer;
		background:transparent url(../img/icons.png) no-repeat scroll 0 0;
	}
	#calendar-quicknav .goback {
		background-position: 4px -115px;
	}

	#calendar-quicknav .goforward {
		background-position: 4px -175px;
	}

	#calendar-quicknav .buttonToday {
		float:left;
	}

	#calendar-quicknav .buttonToday span.rgt {
		background-color:#e7e7e7;
	}

	#calendar-quicknav button.buttonToday span.icon {
		cursor:pointer;
		background:url(../img/icons.png) no-repeat scroll 2px -146px;
	}