/* --------------------------
	Submenu Planning
   -------------------------- */

#navi-main-list-planning li.item a {
	background-image:url(../img/icons.png) !important;
	background-repeat:no-repeat;
}

#navi-main-list-planning li.itemCalendarDay a {
	background-position:6px -205px;
}

#navi-main-list-planning li.itemCalendarWeek a {
	background-position:6px -235px;
}

#navi-main-list-planning li.itemCalendarMonth a {
	background-position:6px -265px;
}



/* --------------------------
	Submenu Portal
   -------------------------- */
#navi-main-list-portal li.itemAppointment a {
	background-image:url(../img/icons.png) !important;
	background-repeat:no-repeat;
	background-position:6px 5px;
}



/* ------------------------
	Quick create wizard popup styling
   ------------------------ */

#quickcreate.dialog.event div#quickcreate_top.dialog_title {
	padding:0 0 0 22px;
	background:url(../img/icons.png) no-repeat 0 0px;
}



/* ------------------------------
   Create mode option in headlet
   ------------------------------ */
#headlet-quickcreate-menu li.itemCalendarEvent {
	background:url(../img/icons.png) no-repeat 11px -296px;
}



/* ------------------------------
   Search mode opiton in headlet
   ------------------------------ */
.searchmode-event {
	background:url(../img/icons.png) no-repeat 3px 3px !important;
}



/* --------------------------
 	Portal tab appointment
   --------------------------*/
#portal-tab-appointment span.icon {
	background:url(../img/icons.png) no-repeat 0 5px;
}
 
