/* -----------------
	calendar
   ----------------- */

#panelwidget-calendar {
	border:none;
	z-index:1;
}

#panelwidget-calendar h1 .title {
	background:url('../img/icons.png') no-repeat 4px -66px;
}

div.dateDropDowns {
	margin:0 0 1px 0;
	background-color:#D7DCC6;
	padding: 1px 3px 1px 3px;
}

div.dateDropDowns select {
	background-color:#EDF1E0;
	width:50px;
	height:15px;
	text-align:center;
}

div.dateDropDowns select option{
	text-align:center;
}

div.dateDropDowns select option.odd {
	background-color:#f3f3f3;
}

div.dateDropDowns select.months {
	width:140px;
}

div.dateDropDowns select.months option{
	text-align:left;
}

#scalupdate {
	display: none;
}

#panelwidget-event-content {
	padding: 6px 0 6px 5px;
}

#panelwidget-calendar-content .calheader,
#panelwidget-calendar-content .calcontrol {
	font-weight: normal !important;
	text-transform: uppercase;
}