#panelwidget-holidaySetSelector-title {
	background:url('../img/panelwidget-holidaysetselector.png') no-repeat 6px 5px;
}

#panelwidget-holidaysetselector-list option {
	padding:0 0 0 20px;
}

#panelwidget-holidaysetselector-list option.holidayset_none {
	background:url('../img/panelwidget-holidaysetselector.png') no-repeat 6px -28px;
}