{foreach $birthdays personData}
<h3 class="birthdaysList {cycle values="odd,even"}" title="{Label event.type.birthday} {$personData.firstname} {$personData.lastname} ({$personData.age} {Label calendar.yearsold})">
	<span class="date">{dateFormat $personData.date D2Mshort}</span>
	<span class="name">{personLabel idPrefix='birthdayperson' idRecord=0 idPerson=$personData.id}</span>
	<span class="age">({$personData.age} {Label calendar.yearsold})</span>
</h3>
{/foreach}