<div id="birthday-{$id}" class="event typeBirthday quickInfoBirthday">
	<dl>
		<dt class="head">
			{if $calendarMode == 'day'}
				{htmlencode $fullname}
			{else}
				{htmlencode(truncate($fullname length=14 break=true))}
			{/if}
		</dt>
	</dl>
</div>