<div class="mainGrid">
	<div id="gridcontainer" class="weekMode">


		{* --------------- Dayevent Bar Start ----------------------- *}
		<div id="topcontainerwk">
			<table class="wk-weektop">
				<tbody>

					{* --------------- Daynames and dates ----------------------- *}
					<tr>
						<td rowspan="3" class="wk-tzlabel">
							<div id="toggleDayView" class="{if $fullDayView}full{/if}" title="{if $fullDayView}{Label calendar.dayview.workinghours}{else}{Label calendar.dayview.fullday}{/if}" onclick="Todoyu.Ext.calendar.Navi.toggleFullDayView()"></div>
						</td>
						{* ---------- Header: dates of the rendered week ------------ *}
						{for weekday 0 6}
							{assign var=dayDateKey value=date('Ymd', $timestamps.$weekday)}
							<th scope="col" {if count($holidays.$dayDateKey) == 0}title="{dateFormat $timestamps.$weekday DlongD2MlongY4}{if $timestamps.$weekday == $timestamp_today} ({Label calendar.today}){/if}"{/if}>
								<div class="{$weekclass.$weekday}wk-dayname{if $timestamps.$weekday == $timestamp_today} todaywk-dayname{/if} {cycle values="odd,even"}">
									{* ----- holidays ----- *}
									<span {if count($holidays.$dayDateKey) > 0}id="holiday-{$timestamps.$weekday}" class="holiday quickInfoHoliday"{/if}>&nbsp;&nbsp;&nbsp;&nbsp;{if count($holidays.$dayDateKey) == 0}</span>{/if}
									<span class="{$weekclass.$weekday}wk-daylink">{dateFormat $timestamps.$weekday DshortD2M2}</span>{if count($holidays.$dayDateKey) > 0}</span>{/if}
								</div>
							</th>
						{/for}
					</tr>

					{* ------------  Fullday events (incl birthdays) ------------------ *}
					<tr>
						<td class="wk-allday" colspan="7">
							<div id="weekViewAllDaywk">
								<table class="st-grid"><tbody>
									<tr>{for i 0 6}<td style="width:86px; height:1px;"></td>{/for}</tr>
									{* --------------- Birthdays -------------------- *}
									<tr>
									{for weekday 0 6}
										{assign var=dayDateKey value=date('Ymd', $timestamps[$weekday])}
										<td class="noEventCell">
										{if $userBirthdays[$dayDateKey]}
											{foreach $userBirthdays[$dayDateKey] birthday}
												{$birthday}
											{/foreach}
										{/if}
										</td>
									{/for}
									</tr>
									<tr>
									{for weekday 0 6}{assign var=dayDateKey value=date('Ymd', $timestamps.$weekday)}
										<td>
										{foreach $dayEvents.$dayDateKey dayEvent}
											{$dayEvent}
										{/foreach}
										</td>
									{/for}
									</tr>
								</tbody></table>
							</div>
							</td>
					</tr>
					<tr class="wk-webcontent">
						{* -------------------- Cells inside weekdays -------------- *}
						{for weekday 0 5}
							<td class="wk-webcontent-td">&nbsp;</td>
						{/for}
						<td class="wk-webcontent-td">{* ----------- Sunday --------- *}
							<table class="st-grid">
								<tbody>
									<tr>
									{for weekday 0 6}
										<td rowspan="2" class="st-c st-s"></td>
									{/for}
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		{* --------------- Dayevent Bar End ----------------------- *}



		{* --------------- Start scrolltimedevents ----------------------- *}
		<div id="calendararea" class="wk-scrolltimedevents {if $fullDayView}full{/if} contextmenucalendararea">
			<table class="tg-timedevents" id="tgTable">
				<tbody>
					<tr><td class="wid40"></td>
						<td colspan="7">
							<div class="tg-hourmarkerwrapper">
								<div class="tg-hourmarkers">
								{* --------- Hour splitting lines -------- *}
								{for hourmarker 0 23}
									<div class="tg-dualmarker"></div>
								{/for}
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="tg-times">
							<div style="top:430px;" class="tg-nowptr" id="tgnowptr" />
							{for hour 0 23}
								<div class="tg-time">{if $hour < 10}0{/if}{$hour}:00</div>
							{/for}
						</td>
						{* -------- Week event inserters -------- *}
						{for daycounter 0 6}
							{assign var=dayDateKey value=date('Ymd', $timestamps.$daycounter)}
							<td class="tg-col{$weekclass.$daycounter}{if $timestamps.$daycounter == $timestamp_today} tg-coltoday{/if}">
								<div class="tg-colwrapper">
									<div id="tgCol{$daycounter}">
									{foreach $events.$dayDateKey event}
										{$event}
									{/foreach}
									</div>
								</div>
							</td>
						{/for}
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>


<script language="javascript">
Todoyu.Ext.calendar.setTitle('{$title}');
</script>