{assign var=weekFromNum value=1}
{if count($timestamps) > 36}
	{assign var=weeks value=6}
{else}
	{assign var=weeks value=5}
{/if}
{* --- Ensure to include 1st day of month / resp. the monday before that --- *}
{assign var=dayFrom value=$weekFromNum*7-6}
{if date('Y', $timestamps.$dayFrom) == $selYear && date('n', $timestamps.$dayFrom) >= $selMonth && date('d', $timestamps.$dayFrom) > 1}
	{assign var=weekFromNum value=0}
	{assign var=weeks value=6}
	{assignNegativeTimestamps $selMonth $timestamps}
{/if}
<div class="mainGrid {if $weeks == 5}month{/if}{if $weeks == 6}sixWeeks{/if}" id="calendararea">
	<div id="gridcontainer" class="monthMode">

		{* --------------------------- Days names (Mon-Sun) ------------------------- *}
		<table class="mv-daynames-table">
			<tbody>
				<tr>{for daynum 0 6}
					<th class="mv-dayname {cycle values="odd,even"}" title="{weekdayName $timestamps[$daynum+1]}">
						{weekdayNameShort $timestamps[$daynum+1]}
					</th>{/for}
				</tr>
			</tbody>
		</table>

		<div id="mvEventContainer" class="mv-event-container contextmenucalendararea">
		{for monthrowCounter $weekFromNum $weeks}
			{assign var=dayFrom value=$monthrowCounter*7-6}
			{assign var=dayUntil value=$monthrowCounter*7}
			<div class="month-row">
				<table class="st-grid"><tbody>
					<tr>
					{* -------------------- Day headers (+ event creation hotspots)  ---------------------- *}
					{for dayCounter $dayFrom $dayUntil}
						{if $dayCounter < 1}
							{assign var=curDayCounter value=$dayCounter+100}
						{else}
							{assign var=curDayCounter value=$dayCounter}
						{/if}
						{assign var=dayDateKey value=date('Ymd', $timestamps.$curDayCounter)}
						{if date('nY', $timestamps.$curDayCounter) == $selMonthYear}
							{assign var=inSelMonth value=true}
						{else}
							{assign var=inSelMonth value=false}
						{/if}
						<td id="createEventAt-{date 'Y-m-d' $timestamps.$curDayCounter}" title="{dateFormat $timestamps.$curDayCounter DlongD2MlongY4}{if $timestamps.$curDayCounter == $timestamp_today} ({Label calendar.today}){/if}" class="title {if $timestamps.$curDayCounter == $timestamp_today}ttoday{/if}{if $dwoo.for.curDayCounter.first} first{/if}{if $inSelMonth} inSelMonthTitle{if date('d', $timestamps.$curDayCounter) == 1} selMonthStart{/if}{/if}">
							{* ------ Week number (only for mondays) ----- *}
							{if $curDayCounter == $dayFrom}
								<span class="weekNumber" title="{dateFormat $timestamps[$curDayCounter] calendarweek}" onclick="Todoyu.Ext.calendar.show('week', {$timestamps[$curDayCounter]*1000})">
									{dateFormat $timestamps.$curDayCounter calendarweek}
								</span>
							{/if}
							{* ------ Holiday Icon ----- *}
							{if sizeof($holidays[$dayDateKey])>0}
								<span id="holiday-{$timestamps[$curDayCounter]}" class="holiday quickInfoHoliday"></span>
							{/if}
							{* ------- Numeric date, full date if 1st day of month ------- *}
							<span class="month-date" onclick="Todoyu.Ext.calendar.show('day', {$timestamps[$curDayCounter]*1000})">
							{if date('j', $timestamps[$curDayCounter]) == 1}
								{dateFormat $timestamps[$curDayCounter] D2Mshort}
							{else}
								{date('j', $timestamps[$curDayCounter])}
							{/if}
							</span>
						</td>
					{/for}
					</tr>
					<tr>
					{* --------------------------- Birthdays, Day-events, Events  ------------------------- *}
					{for dayCounter $dayFrom $dayUntil}
					{if $dayCounter < 1}
						{assign var=curDayCounter value=$dayCounter+100}
					{else}
						{assign var=curDayCounter value=$dayCounter}
					{/if}
						<td id="createEventAt-{date 'Y-m-d' $timestamps.$curDayCounter}" class="content {if $timestamps.$curDayCounter == $timestamp_today}ctoday{/if}{if $dwoo.for.curDayCounter.first} first{/if}{if date('ny', $timestamps.$curDayCounter)==date('ny', $timestamp_today)} inSelMonth{/if}">
							{assign var=dayDateKey value=date('Ymd', $timestamps[$curDayCounter])}
							{if $birthdays[$dayDateKey]}
								{foreach $birthdays[$dayDateKey] birthday}
									{$birthday}
								{/foreach}
							{/if}
							{foreach $dayEvents[$dayDateKey] dayEvent}
								{$dayEvent}
							{/foreach}
							{foreach $events[$dayDateKey] event}
								{$event}
							{/foreach}
							{if $curDayCounter == $dayUntil}
								<br/>
							{/if}
						</td>
					{/for}
					</tr>
				</tbody></table>
			</div>
		{/for}
		</div>
	</div>
</div>

<script language="javascript">
Todoyu.Ext.calendar.setTitle('{$title}');
</script>