<div id="topcontainerwk">
	{* ----- start topcontainer ----- *}
	<table class="wk-weektop">
		<tbody>
			<tr>
				<td rowspan="3" class="wk-tzlabel">
					<div id="toggleDayView" class="{if $fullDayView}full{/if}" title="{if $fullDayView}{Label calendar.showworkinghours}{else}{Label calendar.showfullday}{/if}" onclick="Todoyu.Ext.calendar.Navi.toggleFullDayView()"></div>
				</td>
				{* ----- header: dates of the rendered week ----- *}
				{for weekday 0 6}
					{assign var=dayDateKey value=date('Ymd', $timestamps[$weekday])}
					<th scope="col" {if count($holidays[$dayDateKey]) == 0}title="{dateFormat $timestamps[$weekday] DlongD2MlongY4}{if $timestamps[$weekday] == $timestamp_today} ({Label calendar.today}){/if}"{/if}>
						<div class="{$weekclass[$weekday]}wk-dayname{if $timestamps[$weekday] == $timestamp_today} todaywk-dayname{/if} {cycle values="odd,even"}">
							{* ----- holidays ----- *}
							<span {if count($holidays[$dayDateKey]) > 0}id="holiday-{$dayDateKey}" class="holiday holidayQuickInfoHotspot"{/if}>&nbsp;&nbsp;&nbsp;&nbsp;{if count($holidays[$dayDateKey]) == 0}</span>{/if}
							<span class="{$weekclass[$weekday]}wk-daylink">{dateFormat $timestamps[$weekday] DshortD2M2}</span>{if count($holidays[$dayDateKey]) > 0}</span>{/if}
						</div>
					</th>
				{/for}
			</tr>
			<tr>
				{* -----  birthdays, fullday events ----- *}
				<td class="wk-allday" colspan="7">
					<div id="weekViewAllDaywk">
						<table class="st-grid"><tbody>
							<tr>{for i 0 6}<td style="width:86px; height:1px;"></td>{/for}</tr>
							{* ----- birthdays ----- *}
							<tr>{for weekday 0 6}{assign var=dayDateKey value=date('Ymd', $timestamps[$weekday])}
								<td class="noEventCell">{$birthdays[$dayDateKey]}</td>{/for}
							</tr>
							<tr>
							{for weekday 0 6}{assign var=dayDateKey value=date('Ymd', $timestamps[$weekday])}
								<td>
								{foreach $dayEvents[$dayDateKey] dayEvent}
									{$dayEvent}
								{/foreach}
								</td>
							{/for}
							</tr>
						</tbody></table>
					</div>
					</td>
			</tr>
			<tr class="wk-webcontent">
				{* ----- cells inside weekdays ----- *}
				{for weekday 0 5}
					<td class="wk-webcontent-td">&nbsp;</td>
				{/for}
				<td class="wk-webcontent-td">{* ----- sunday ----- *}
					<table class="st-grid">
						<tbody>
							<tr>
							{for weekday 0 6}
								<td rowspan="2" class="st-c st-s"></td>
							{/for}
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>