{Header title=cat(dateFormat($event.date_start DshortD2MlongY4) ": " $event.title)}
<table class="eventView">
	<tr class="odd">
		<td class="eventAttrTitle">{Label core.title}: </td>
		<td class="eventValue">{$event.title}</td>
	</tr>
	<tr class="even">
		<td class="eventAttrTitle">{Label event.attr.place}: </td>
		<td class="eventValue">{$event.place}</td>
	</tr>
	<tr class="odd">
		<td class="eventAttrTitle">{Label core.description}: </td>
		<td class="eventValue">{$event.description|default:"-"}</td>
	</tr>
	<tr class="even">
		<td class="eventAttrTitle">{Label event.attr.timespan}: </td>
		<td class="eventValue">
			{math equation="e - s" e=$event.date_end s=$event.date_start assign=duration}
			{math equation="d / 3600" d=$duration assign=duration}
			{dateFormat $event.date_start datetime} - {dateFormat $event.date_end datetime} ({round($duration, 2)} Hours)</td>
	</tr>
	<tr class="odd">
		<td class="eventAttrTitle ">{Label event.attr.attendees}: </td>
		<td class="eventValue">
			{foreach $attendees id personData}
				{$personData.firstname} {$personData.lastname}<br/>
			{/foreach}
		</td>
	</tr>
	<tr class="even">
		<td class="eventAttrTitle"> {Label event.attr.creator}: </td>
		<td class="eventValue">
			{$person_create.firstname} {$person_create.lastname}
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<fieldset class="buttons">
				{Button label="event.edit" class="button editButton editEvent" onclick="Todoyu.Ext.calendar.EventEdit.openFromDetailView($event.id)"}
				{Button label="core.close" class="button cancelButton cancel" onclick="Todoyu.Ext.calendar.EventEdit.cancelEdit()"}
			</fieldset>
		</td>
	</tr>
</table>