<div id="event-{$id}" class="event contextmenuevent quickInfoEvent type{ucfirst $eventtypeKey} enumColBGFade{$color.id} {$class}">
	<dl>
		<dt class="head">
			<span class="headInner">
				{if $is_private}<span class="private"></span>{/if}{htmlencode $title|truncate:14}
				<input type="hidden" id="eventTimeStart-{$id}" value="{$timeStart}"/>
			</span>
		</dt>
	</dl>
</div>