<div id="event-{$id}" class="event contextmenuevent quickInfoEvent type{ucfirst $eventtypeKey} enumColBGFade{$color.id}">
	<dl>
		<dt class="head">
			{htmlencode $title|truncate:14}
		</dt>
	</dl>
</div>