<a href="javascript:Todoyu.Ext.calendar.Event.show({$event.id})">Reload</a>
<script language="javascript">
Todoyu.Ext.calendar.setTitle('{dateFormat $event.date_start DshortD2MlongY4}: {$event.title} {time()}');
</script>