<table class="eventView">
	<tr>{* -------------------- Title -------------------- *}
		<td class="eventAttrTitle">
			<span class="icon eventTitleIcon"> </span>&nbsp;{Label core.global.title}
		</td>
		<td class="eventValue">{$event.title}</td>
	</tr>
{if ! empty($event.place)}
	<tr>{* -------------------- Place -------------------- *}
		<td class="eventAttrTitle">
			<span class="icon placeIcon"> </span>&nbsp;{Label calendar.event.attr.place}
		</td>
		<td class="eventValue">{$event.place}</td>
	</tr>
{/if}
	<tr>{* -------------------- Timespan -------------------- *}
		<td class="eventAttrTitle">
			<span class="icon dateIcon"> </span>&nbsp;{Label calendar.event.attr.timespan}
		</td>
		<td class="eventValue">
			{if $event.duration.daysIntersected > 1}
				{dateFormat $event.date_start datetime} - {dateFormat $event.date_end datetime}
				({$event.duration.daysIntersected} {Label core.date.days})
			{else}
				{dateFormat $event.date_start date}
				{dateFormat $event.date_start time} - {dateFormat $event.date_end time}
				{if $event.duration.minutes > 59}
					({timeFormat $event.duration.seconds} {Label core.date.time.hours})
				{else}
					({$event.duration.minutes} {Label core.date.time.minutes})
				{/if}
			{/if}
		</td>
	</tr>
{if ! empty($event.description)}
	<tr>{* -------------------- Description -------------------- *}
		<td class="eventAttrTitle">
			<span class="icon"> </span>&nbsp;{Label core.global.description}
		</td>
		<td class="eventValue">
			{substituteLinkableElements(cleanHtml($event.description))}
		</td>
	</tr>
{/if}
	<tr>{* -------------------- Creator person -------------------- *}
		<td class="eventAttrTitle">
			<span class="icon"> </span>&nbsp;{Label calendar.event.attr.creator}
		</td>
		<td class="eventValue">
			{personLabel idPrefix="event-personcreate" idRecord=$event.person_create.id idPerson=$event.person_create.id}
			<br /><br />
		</td>
	</tr>
	<tr>{* -------------------- Attendees -------------------- *}
		<td class="eventAttrTitle ">
			<span class="icon personsIcon"> </span>&nbsp;{Label calendar.event.attr.attendees}
		</td>
		<td class="eventValue">
		{foreach $event.persons person personData}
			{if $personData.is_acknowledged}{$class='eventperson-acknowledged'}{else}{$class='eventperson-unacknowledged'}{/if}
			{if in_array($personData.id, array_keys($event.persons_email))}{$class.='-email'}{/if}
			{personLabel idPrefix="event-personattend" idRecord=$personData.id idPerson=$personData.id class=$class}
			<br/>
		{/foreach}
		</td>
	</tr>
</table>