{if $calendarMode == 'week'}
	{* ------------------------ Fullday events in WEEK viewing mode ------------------- *}
	<tr>
		{* ------------ Stretch fullday events over 2 or more days if needed ------------ *}
		{if $shownStartingDayNum >= 1}
			{for counter 1 $shownStartingDayNum}
				<td class="noEventCell">&nbsp;</td>
			{/for}
		{/if}
		<td colspan="{$shownDaysDuration+1}">
			<div id="event-{$id}" class="event quickInfoEvent contextmenuevent enumColBGFade{$color.id} enumColBor{$color.id} rb-n dayevent type{ucfirst $eventtypeKey}">
				<div class="head">
					{if $is_private == 1}
						{* -------------- Only show title if event is not private ------------- *}
						{if isPersonID($id_person)}
							<span class="privateEvent"></span>
							{htmlencode $title|truncate:14}
						{else}
							<span class="privateEvent"></span>
							{Label event.privateEvent.info}
						{/if}
					{else}{* ------ event is not private ----- *} 
						{htmlencode $title|truncate:14}
					{/if}
				</div>
			</div>
		</td>
		{* -------- Add empty event cells after events having ended already: -------- *}
		{if $shownEndingDayNum < 6}
			{for counter $shownEndingDayNum 7}
				<td class="noEventCell"></td>
			{/for}
		{/if}
	</tr>
{else}{* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *}
	{* ------------------------ Fullday events in DAY and MONTH viewing mode ------------------- *}
	<div id="event-{$id}" class="event contextmenuevent quickInfoEvent dayevent enumColBGFade{$color.id} enumColBor{$color.id} {if $updateAllowed} updateAllowed{/if}">
		<span class="type{ucfirst $eventtypeKey} eventtype_{$eventtype}">
			&nbsp;&nbsp;&nbsp;&nbsp;
		</span>
		{if $is_private == 1}{* ----- only show title, if event is not private ----- *}
			{if isPersonID($id_person)}
				<span class="privateEvent"></span>
				{if $is_repeated == 1}<span class="seriesEvent"></span>{/if}
					{if $calendarMode == 'day'}
						{foreach $assignedPersons num personData}
							{$personData.shortname}
							{if $dwoo.foreach.default.last}{else},{/if}
						{/foreach}:
					{/if}
					{htmlencode $title|truncate:14}
					{if $calendarMode == 'day'}
					 ({dateFormat $date_start datetime} - {dateFormat $date_end datetime})
					{/if}
			{else}
				<span class="privateEvent"></span>
			{/if}
		{else}{* ----- not a private event ------ *}
			{if $calendarMode == 'day'}
				{foreach $assignedPersons num personData}
					{$personData.shortname}
					{if $dwoo.foreach.default.last}{else},{/if}
				{/foreach}:
			{/if}
			{htmlencode $title|truncate:14}
			{if $calendarMode == 'day'}
				({dateFormat $date_start datetime} - {dateFormat $date_end datetime})
			{/if}
		{/if}
	</div>
{/if}