<div class="notification reminder">
	<h1>
		<span class="iconLarge iconNotifyLarge reminder"></span>
		<span class="label">{$datetime} - {$event.title}</span>
	</h1>

	<div style="background-color:#F6F6E5; padding:0 0 8px 8px; margin:16px 0 0 0">
		{include file="event-view-details.tmpl"}
	</div>

	{$reminderFormHtml}
</div>
