<div class="confirmation mailing">
	<form>
		<div class="left">
			<span class="iconLarge iconNotifyLarge info"></span>
		</div>
		<div class="right">
			<div class="inner">
				<h2 style="text-align:left;">
					<span style="padding-left:20px; line-height:30px;">
						{Label calendar.event.mail.popup.headline}
					</span>
				</h2>
				<div style="background-color:#F6F6E5; padding:0 0 8px 8px; margin:16px 0 0 0">
					<p style="text-align:left; padding:8px 0 0 0;">
						{Label calendar.event.mail.popup.subject}: {$subject}
					</p>
					{include file="event-view-details.tmpl"}
				</div>
			</div>
			{$mailingForm}
		</div>
	</form>
</div>