{if $calendarMode == 'week'}
	<tr>{* ------------ Stretch fullday events over 2 or more days if needed ------------ *}
		{if $shownStartingDayNum >= 1}
			{for counter 1 $shownStartingDayNum}<td class="noEventCell">&nbsp;</td>{/for}
		{/if}
		<td colspan="{$shownDaysDuration+1}">
			<div id="event-{$id}" class="quickInfoEvent contextmenuevent enumColBgFg{$colors.id} rb-n dayevent {if $updateAllowed} updateAllowed{/if}">
				<span class="eventtype_{$eventtype}" style="width:10px; margin-right: 2px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
		{if $is_private == 1}
			{* -------------- Only show title if event is not private ------------- *}
			{if  $id_user == $current_user}
					<span class="privateEvent"></span>
					{if $is_repeated == 1}<span class="seriesEvent"></span>{/if}
					{$title}
			{else}
					<span class="privateEvent"></span>
				{if $is_repeated == 1}<span class="seriesEvent"></span>{/if}
					{Label event.privateEvent.info}
			{/if}
			{else}
				{if $is_repeated == 1}<span class="seriesEvent"></span>{/if}
				{$title}
			{/if}
			</div>
		</td>
		{* -------- Add empty event cells after events having ended already: -------- *}
		{if $shownEndingDayNum < 6}
			{for counter $shownEndingDayNum 7}
				<td class="noEventCell"></td>
			{/for}
		{/if}
	</tr>
{else}{* ------------------------ Fullday events in DAY and MONTH viewing mode ------------------- *}
	<div id="event-{$id}" class="event contextmenuevent quickInfoEvent dayevent enumColBgFg{$colors.id} {if $updateAllowed} updateAllowed{/if}">
		<span class="eventtype_{$eventtype}" style="width: 10px; margin-right: 2px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
		{if $is_private == 1}{* ----- only show title, if event is not private ----- *}
			{if  $id_user == $current_user}
				<span class="privateEvent"></span>
				{if $is_repeated == 1}<span class="seriesEvent"></span>{/if}
					{if $calendarMode == 'day'}{foreach $assignedUsers num userData}{$userData.shortname}{if $dwoo.foreach.default.last}{else}, {/if}{/foreach}{/if}:
					{$title}
					{if $calendarMode == 'day'}
					 ({dateFormat $date_start datetime} - {dateFormat $date_end datetime})
					{/if}
			{else}
				<span class="privateEvent"></span>
				{if $is_repeated == 1}<span class="seriesEvent"></span>{/if}
			{/if}
		{else}
			{if $is_repeated == 1}<span class="seriesEvent"></span>{/if}
			{if $calendarMode == 'day'}{foreach $assignedUsers num userData}{$userData.shortname}{if $dwoo.foreach.default.last}{else}, {/if}{/foreach}{/if}:
			{$title}
			{if $calendarMode == 'day'}
			 ({dateFormat $date_start datetime} - {dateFormat $date_end datetime})
			{/if}
		{/if}
	</div>
{/if}