<div id="event-{$id}" class="event contextmenuevent quickInfoEvent type{ucfirst $eventtypeKey} enumColBGFade{$color.id} {$class}"
	style="
		{if $calendarMode != 'month'}
			top:{$top}px; left:{$left}px;
		{/if}
		{if $calendarMode == 'week'}
			height:{$height}px;
		{/if}
		{if intval($width)>0}
			width:{$width}px;
		{/if}
		">
	<dl {if $calendarMode != 'month'}style="height:{$height}px"{/if}>
		<dt class="head {if $calendarMode != 'month'}enumColBG{$color.id}{/if}">
			<span class="headInner">
			{$firstAssignedPersonId = key($assignedPersons)}
			{if $is_private}<span class="private {if isPersonID($assignedPersons.$firstAssignedPersonId.id)}allowed{/if}" id="event-{$id}-private-{}"></span>{/if}
			{if $calendarMode == 'day'}
				{htmlencode $title}
			{else}
				{htmlencode(truncate($title, 16, '...', true))}
			{/if}
			{if $calendarMode == 'day' && count($assignedPersons) == 1}
				({$assignedPersons.$firstAssignedPersonId.shortname})
			{/if}
			</span>
		</dt>
		{if !empty($description) && !$is_private && $calendarMode != 'month'}
			<dd>
				{* ---------- Only show title if event is not private ---------- *}
				 <span class="desc" style="color:{$color.text|default:"#000"}">
					{if $is_private}
						{if isPersonID($id_person)}
							{htmlencode($description 8 cut=true)}
						{/if}
					{else}
					{htmlencode($description 8 cut=true)}
					{/if}
				</span>
			</dd>
		{/if}
	</dl>
</div>