<span id="event-{$idEvent}-series-label">
	{$seriesLabel}
</span>
<a id="event-{$idEvent}-series-edit" href="javascript:void(0);" onclick="Todoyu.Ext.calendar.Event.Series.updateConfigFields({$idSeries})">
	Bearbeiten
</a>
<div id="event-{$idEvent}-series-subform"></div>
