<table class="eventView">
{* ------------------------ Title *}
	<tr>
		<td class="eventAttrTitle">
			<span class="icon eventTitleIcon"> </span>
			&nbsp;{Label core.global.title}
		</td>
		<td class="eventValue">{$event.title}</td>
	</tr>
{* ------------------------ Place *}
{if ! empty($event.place)}
	<tr>
		<td class="eventAttrTitle">
			<span class="icon placeIcon"> </span>
			&nbsp;{Label calendar.event.attr.place}
		</td>
		<td class="eventValue">{$event.place}</td>
	</tr>
{/if}
{* ------------------------ Timespan *}
	<tr>
		<td class="eventAttrTitle">
			<span class="icon dateIcon"> </span>
			&nbsp;{Label calendar.event.attr.timespan}
		</td>
		<td class="eventValue">
			{$event.durationString}
		</td>
	</tr>
{* ------------------------ Description *}
{if ! empty($event.description)}
	<tr>
		<td class="eventAttrTitle">
			<span class="icon"> </span>
			<br />&nbsp;{Label core.global.description}
		</td>
		<td class="eventValue">
			<br />{substituteLinkableElements(nl2br(cleanHtml($event.description)))}
			<br /><br/>
		</td>
	</tr>
{/if}
{* ------------------------ Creator person *}
	<tr>
		<td class="eventAttrTitle">
			<span class="icon"> </span>
			&nbsp;{Label calendar.event.attr.creator}
		</td>
		<td class="eventValue">
			{personLabel idPrefix="event-personcreate" idRecord=$event.person_create.id idPerson=$event.person_create.id}
			<br /><br />
		</td>
	</tr>

{* ------------------------ Attendees *}
	<tr>
		<td class="eventAttrTitle ">
			<span class="icon personsIcon"> </span>
			&nbsp;{Label calendar.event.attr.attendees}
		</td>
		<td class="eventValue">
		{foreach $event.persons person personData}
			{if $personData.is_acknowledged}{$class='eventperson-acknowledged'}{else}{$class='eventperson-unacknowledged'}{/if}
			{if in_array($personData.id, array_keys($event.persons_email))}{$class.='-email'}{/if}
			{personLabel idPrefix="event-personattend" idRecord=$personData.id idPerson=$personData.id class=$class}
			<br />
		{/foreach}
			<br />
		</td>
	</tr>
{* ------------------------ Scheduled Reminders *}
{if isAllowedEventReminderPopup($event.id) || isAllowedEventReminderEmail($event.id)}
	{$personID = personid()}
	<tr>
		<td class="eventReminders ">
			<span class="icon reminderIcon"> </span>
			&nbsp;{Label calendar.reminder.myreminders}
		</td>
		<td>
			{if isAllowedEventReminderPopup($event.id)}
				{Label calendar.reminder.email}:
				{if $event.persons[$personID][date_remindemail] == 0}
					{Label calendar.reminder.deactivated}
				{else}
					{durationFormat $event.date_start - $event.persons[$personID][date_remindemail]} {Label calendar.reminder.beforeDateStart}
					- {dateFormat $event.persons[$personID][date_remindemail] datetime}
				{/if}
				<br />
			{/if}
			{if isAllowedEventReminderPopup($event.id)}
				{Label calendar.reminder.popup}:
				{if $event.persons[$personID][date_remindpopup] == 0}
					{Label calendar.reminder.deactivated}
				{else}
					{durationFormat $event.date_start - $event.persons[$personID][date_remindpopup]} {Label calendar.reminder.beforeDateStart}
					- {dateFormat $event.persons[$personID][date_remindpopup] datetime}
				{/if}
				<br />
			{/if}
		</td>
	</tr>
{/if}
</table>