<div id="event-{$id}" class="event contextmenuevent quickInfoEvent dayevent enumColBGFade{$color.id} enumColBor{$color.id} {if $updateAllowed} updateAllowed{/if}">
	<span class="type{ucfirst $eventtypeKey} eventtype_{$eventtype}">
		&nbsp;&nbsp;&nbsp;&nbsp;
	</span>
	{if $is_private}{* ----- only show title, if event is not private ----- *}
		{if isPersonID($id_person)}
			<span class="private"></span>
			{if $is_repeated == 1}<span class="seriesEvent"></span>{/if}
				{if $calendarMode == 'day'}
					{foreach $assignedPersons num personData}
						{$personData.shortname}
						{if $dwoo.foreach.default.last}{else},{/if}
					{/foreach}:
				{/if}
				{htmlencode $title|truncate:14}
				{if $calendarMode == 'day'}
				 ({dateFormat $date_start datetime} - {dateFormat $date_end datetime})
				{/if}
		{else}
			<span class="privateEvent"></span>
		{/if}
	{else}{* ----- not a private event ------ *}
		{if $calendarMode == 'day'}
			{foreach $assignedPersons num personData}
				{$personData.shortname}
				{if $dwoo.foreach.default.last}{else},{/if}
			{/foreach}:
		{/if}
		{htmlencode $title|truncate:14}
		{if $calendarMode == 'day'}
			({dateFormat $date_start datetime} - {dateFormat $date_end datetime})
		{/if}
	{/if}
</div>