{foreach $holidays timestamp holidayData}
	<h3 class="holidaysList {cycle values="odd,even"}" title="{Label resources.holiday}">
		<span class="first holidayDate hasIcon">{dateFormat $holidayData.date D2M2Y4}</span>
		<span class="holidayTitle">{$holidayData.title}</span>
		<span class="holidayDescription">{$holidayData.description}</span>
		<span class="holidayWorkinghours">{Label calendar.ext.holiday.attr.workingtime}: {$holidayData.workingtime / 3600}{Label core.date.hrs}</span>
	</h3>
{/foreach}