{$tabs}

<div id="calendar" {if ! $showCalendar}style="display:none"{/if}>

	{* ----------------- Calendar header ----------------- *}
	<div id="calendar-header" class="headerLine">
		<span id="calendar-title"></span>
		<div id="calendar-quicknav">
			<div id="calendar-quicknav-backward" title="{Label calendar.gobackward.title}" class="icon goback" onclick="Todoyu.Ext.calendar.Navi.goBackward()"></div>
			{Button label="calendar.gototoday" title="LLL:calendar.gototoday.title" onclick="Todoyu.Ext.calendar.Navi.goToday()" class="buttonToday" id="calendar-quicknav-today"}
			<div id="calendar-quicknav-forward" title="{Label calendar.goforward.title}" class="icon goforward" onclick="Todoyu.Ext.calendar.Navi.goForward()"></div>
		</div>
		<span class="rgt"><!-- right --></span>
	</div>

	{* -------------- Calendar body --------------------- *}
	<div id="calendar-body">
		{if $showCalendar}
			{$content}
		{/if}
	</div>

</div>

<div id="calendar-edit" {if $active != 'edit'}style="display:none"{/if}>
{if $active == 'edit'}{$content}{/if}
</div>
<div id="calendar-view" {if $active != 'view'}style="display:none"{/if}>
{if $active == 'view'}{$content}{/if}
<script>
Todoyu.Ext.calendar.setTime.bind(Todoyu.Ext.calendar).delay(1, {$date}, true);
</script>
</div>