{$tabs}{* -------- calendar tabs -------- *}
<div id="calendar">
	<div id="calendar-header">{* -------- calendar header: (navi and tabs) -------- *}
		<div id="date-navi" class="headerLine">
			<span id="calendarTitle"></span>
			<div id="calendarNavigation">
				<div title="{Label calendar.gobackward.title}" class="icon goback" onmousedown="Todoyu.Ext.calendar.Navi.goBackward()"></div>
				<button class="button buttonToday" title="{Label calendar.gototoday.title}" onmousedown="Todoyu.Ext.calendar.Navi.goToday()">
					<span class="hasIcon today">{Label calendar.gototoday}</span>
					<span class="rgt"><!-- right --></span>
				</button>
				<div title="{Label calendar.goforward.title}" class="icon goforward" onmousedown="Todoyu.Ext.calendar.Navi.goForward()"></div>
			</div>
			<span class="rgt"><!-- right --></span>
		</div>
	</div>{* -------- end: calendar header (navi and tabs) -------- *}
	<div id="calendar-body">
		{$calendar}{*  -------- actual calendar (either day, week or month view) -------- *}
	</div>
</div>
