<h1 class="headerLine">
	<span class="first">{Label calendar.ext.profile.module.share.header}</span>
	<span class="rgt"></span>
</h1>
<p class="profileConfigExplanation">
	You can share the todoyu calendar data with other applications and services.
	This enables you to sync your calendar management application
	(on your computer or smartphone, etc.) with your appointments stored in todoyu.
</p>

{$form}