<div class="quickinfo-left"> </div>
<div class="quickinfo-right quickinfoHoliday_content">
	<span class="holiday">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{Label calendar.holiday}:</span>
	<br/>
	<span>{dateFormat $timestamp DlongD2Mlong}</span><br/>
	<br/>

	<ul>
{foreach $holidays idHoliday holidayData}{if count($holidayData) > 0}
	{assign var=workHours value=$holidayData.workinghours/60}
		<li>
			{$holidayData.title} ({Label calendar.workinghours}: {$workHours} {Label date.time.hours})</span>
		</li>
{/if}{/foreach}
	</ul>
</div>