<div class="portalEventsList">
	{include file="tab-portal-eventslist-header.tmpl"}{* ----- Header with column titles ----- *}
	<div class="events" id="events">{* ----- The actual list of events ----- *}

	{foreach $events idEvent event}
		{* ------- Event entry ------- *}
		<div id="event-{$event.id}" class="event {cycle values="odd,even"} type{ucfirst(EventTypeKey($event.eventtype))} contextmenuEventPortal">
			<h3 id="event-{$event.id}-header" name="event-{$event.id}">
				<span class="icon type" title="{Label event.attr.eventtype}: {EventTypeLabel $event.eventtype}"> </span>
				<span id="acknowledge-{$event.id}" class="icon acknowledge {if $event.is_acknowledged === '0'}not{/if}" {if $event.is_acknowledged === '0'}onclick="Todoyu.Ext.calendar.EventPortal.acknowledgeEvent({$event.id}, {$event.id_person})"{/if}> </span>
				<span class="label" onclick="Todoyu.Ext.calendar.EventPortal.toggleDetails({$idEvent})">
					<span class="date">{dateFormat $event.date_start datetime} - {dateFormat $event.date_end datetime}</span>
					<span class="title">{EventTypeLabel $event.eventtype}: {htmlencode $event.title}</span>
				</span>

				<div class="clear"><!-- --></div>
			</h3>
			{$event.details}
		</div>
		{* ------- End: event entry ------- *}
	{else}
		<p class="contentMessage">{Label event.error.noAppointmentsFound}</p>
	{/foreach}

</div>

{if $showHolidays && count($holidays)>0}
	<br/>
	{Header title="LLL:event.eventslist.holidaysWithinTheNextweeks"}
	<div id="holidays">
		{include file="holidayslist.tmpl"}
	</div>
{/if}

{if $showBirthdays && count($birthdays)>0}
	<br/>
	{Header title="LLL:event.eventslist.birthdaysWithinTheNextweeks"}
	<div id="birthdays">
		{include file="birthdayslist.tmpl"}
	</div>
{/if}

</div>
<script type="text/javascript">
{$javascript}
</script>