<div class="portalEventsList">
	{include file="tab-portal-eventslist-header.tmpl"}{* ----- Header with column titles ----- *}
	<div class="events" id="events">{* ----- The actual list of events ----- *}

	{if count($events) == 0}
			<br/><span class="contentMessage">{Label event.noEventsFound}</span>
	{else}
		{foreach $events idEvent event}{* ------- Event entry ------- *}
			<div id="event-{$idEvent}" class="event {cycle values="odd,even"}">
				<h3 id="event-{$idEvent}-header" class="contextmenuEventPortal enumColBorLef{$color.id}" name="event-{$event.id}">
					<span class="headLabel" title="{$event.title}">
						<span class="icon eventtype_{$event.eventtype}" title="{EventTypeLabel $event.eventtype}"> </span>

							<span id="acknowledge-{$event.id}" class="icon acknowledge {if !$event.is_acknowledged}not{/if}" {if !$event.is_acknowledged}onclick="Todoyu.Ext.calendar.Event.acknowledgeEvent({$idEvent}, {$event.id_user})"{/if}> </span>

						<span class="label" onclick="Todoyu.Ext.calendar.Event.toggleDetails({$idEvent})">
							<span class="date">{date_dmyHi $event.date_start} - {date_dmyHi $event.date_end}</span>
							<span class="title">{htmlencode $event.title}</span>
						</span>
					</span>
					<div class="clear"><!-- --></div>
				</h3>
				{$details}
			</div>{* ------- End: event entry ------- *}
		{/foreach}
	{/if}
	</div>
{if $showHolidays && count($holidays)>0}
	<br/>
	{Header LabelReplace(event.eventslist.holidaysWithinTheNextXweeks null XXX $holidaysLookAheadWeeksAmount) "holidaysforecast"}
	<div id="holidays">
		{include file="holidayslist.tmpl"}
	</div>
{/if}
{if $showBirthdays && count($birthdays)>0}
	<br/>
	{Header LabelReplace(event.eventslist.birthdaysWithinTheNextXweeks null XXX $birthdaysLookAheadWeeksAmount) "birthdaysforecast"}
	<div id="birthdays">
		{include file="birthdayslist.tmpl"}
	</div>
{/if}
</div>